.section01 {
  background-image: url('assets/imgs/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

  height: 90vh;
}