* {
    padding: 0;
    margin: 0;
    --accent-color: linear-gradient(203deg, rgba(2,0,36,1) 30%, rgba(190,0,255,1) 100%);
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(203deg, rgba(2,0,36,1) 30%, rgba(190,0,255,1) 100%);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#page-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.page-login-form-div {
    background-color: #fff3;
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
@media (width <= 400px) {
    .page-login-form-div {
        width: 80vw;
    }
}
.page-login-loginbtn {
    background-color: limegreen;
    color: white;
}

input, button {
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    transition: all 1000ms ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
input:focus, button:focus  {
    transition: all 1000ms ease-in-out;
    outline: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}