
/* CORE */

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(105, 0, 141);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none !important;
}

input, button {
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    transition: all 1000ms ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
input:focus, button:focus  {
    transition: all 1000ms ease-in-out;
    outline: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* BACKGROUND TRANSITIONS */

body.animation-login2store {
    animation: login2store 2s forwards;
}

@keyframes login2store {
    from {
        background-color: rgb(105, 0, 141);
    }
    to {
        background-color: rgb(138, 0, 0);
    }
}

/* PAGE LOGIN */

#page-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#page-login-logo {
    width: 15rem;
    max-width: 100%;
    border-radius: .5rem;
}

#page-login-error {
    color: lightcoral;
}

.page-login-img-wrap {
    display: flex;
    justify-content: center;
}

.page-login-form-div {
    background-color: #fff3;
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
@media (width <= 400px) {
    .page-login-form-div {
        width: 70vw;
    }
}
.page-login-loginbtn {
    background-color: limegreen;
    color: white;
}

/* PAGE STORE */

#page-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    color: white;
}

#page-store-title {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}