* {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: fit-content;
    background-color: #fff;
    position: fixed;
}
header > ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;

    padding: 1rem;
}

a {
    color: magenta;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
